{% block content %}



{% set vers = craft.entries()
    .section('vertag')
    .limit(3)
    .tagg(tag.tagg[0].id)
    .genstag(tag.id)
    .orderBy('dateCreated DESC')
    .all() %}


{# {% if vers[0] is null or vers[0].dateCreated|date('d-M-Y' , 'Europe/Paris') != now|date('d-M-Y', 'Europe/Paris') %}
    {% include "debout/accueil/createVers.twig" with {
            tag:tag,
            vers:vers,
            user:user
        }
    %}
{% endif %} #}


{% for item in vers %}
    {# {% set itemokaou = item %} #}
    {# {% set item = item.version[0] %} #}
    <div class="" >
        <span><small>Etape {% if item.dateCreated|date('d-M-Y' , 'Europe/Paris') == now|date('d-M-Y', 'Europe/Paris') %}d'aujourd'hui{% endif %} du {{ item.dateCreated|date('d M', 'Europe/Paris') }} :</small></span>
        <span><h3 style="justify-self: right;"><b>{{ item.version[0].title }}</b><a href="/c/{{ item.version[0].id }}"><button class="btn btn-outline-secondary m-1">VOIR</button></a></h3></span>



        {# <div>
            {% include "debout/competence/vali.twig" with {
                vertag:item,
            } %}
        </div>

        {% if loop.first %}
            <br>
            {% include "debout/competence/micro.twig" with {
                genstag:tag,
                vertag:item,
                user:user
            } %}
        {% endif %} #}
            <div class="card card-body">
                <small>Ressources pour apprendre :</small>
                {% include "debout/getOR/gettxt.twig" with {
                    item: item.version[0].id,
                    user: user,
                    opengu:false
                } %}
            </div>
        </div>

    {% if not loop.last %}
        <br>
        <br>
        
    {% endif %}
{% endfor %}

{% endblock %}