{% block content %}




{% set compall = craft.entries()
    .section('compall')
    .obj(obj.id)
    .limit(3)
    .orderBy('dateCreated ASC')
    .all() %}



<div>
{% for comp in compall %}
    <div class="" onclick="viewCOMP({{ comp.id }});">
        <h3>{{ comp.competence[0].title }} <small>({{ comp.title }})</small></h3>
        
        {% include "debout/conv/conv.twig" with {
            "obj": comp.competence[0],
            "user": user
        } %}
    </div>

    <hr>
{% endfor %}


</div>







{% endblock %}