{# //////////////////// #}
{# Si l'utilisateur est connecté, récupérer ses informations #}
{% set emailDepuisCookie = craft.app.session.get('loggedInGensId') %}

{# Vérifier si l'utilisateur est connecté #}
{% if emailDepuisCookie is not null %}
    {% set user = craft.entries().id(emailDepuisCookie).one() %}
{# {% else %}
    {% set user = craft.entries().id(257).one() %} #}
{% else %}
    {% set user = craft.entries().id(840).one() %}
{% endif %}
{# ///////////////////// #}



{% block content %}

{% include "debout/gens/menu.twig" %}

<div class="container mt-4" style="max-width: 555px;">
{% if user %}
    {% if user.id == 840 %}
        <div style="place-self: center;"><a href="/gens" style=""><button class="btn btn-outline-danger" style="font-size: x-large;"><ahahah>Connectez vous donc ?<ahahah></button></a></div>
    {% endif %}
    

    {% include "debout/gens/present.twig" with {
        'user': user
    } %}   

    {# <small id="agendaaa">Agenda:<br><br></small> #}
     {# {% include "debout/accueil/listTag.twig" with {
        'user': user
    } %} #}


    <p>A faire:</p>

    {% include "debout/a/faire.twig" with {
        'user': user
    } %}








    <br><br>
    <p>Realisé :</p>


    {% include "debout/a/realise.twig" with {
        'user': user
    } %}




    {# {% set actuel = craft.entries().gens(user.id).orderBy('dateCreated DESC').limit(999).all()|group(entry => entry.section.handle) %} #}



    <br><br><br>

    {% include "debout/accueil/createTag.twig" with {
        'user': user
    } %}

    <br>
{% else %}
    <a href="/gens" style="position:fixed;left:50vw;top: 45vh;transform: translateY(-50%);transform: translateX(-50%);"><button class="btn btn-outline-danger" style="font-size: xx-large;"><ahahah>Connectez vous donc ?<ahahah></button></a>
{% endif %}
</div>


{% endblock %}