{% include "voyagevoyage/menu.twig" %}

{# //////////////////// #}
{# Si l'utilisateur est connecté, récupérer ses informations #}
{% set emailDepuisCookie = craft.app.session.get('loggedInGensId') %}

{# Vérifier si l'utilisateur est connecté #}
{% if emailDepuisCookie is not null %}
    {% set user = craft.entries().id(emailDepuisCookie).one() %}
{# {% else %}
    {% set user = craft.entries().id(257).one() %} #}
{% endif %}
{# ///////////////////// #}



{% block content %}




{% if number %}
    {% set role = craft.entries()
    .section('role')
    .id(number)
    .one() %}
{% endif %}

{% if role %}
    {% set anno = craft.entries()
    .section('anno')
    .relatedTo({
        targetElement: role,
        field: 'obj'
    })
    .limit(9)
    .all() %}
{% endif %}


{% if user and role %}
    {% set annonced = craft.entries()
    .section('anno')
    .obj2(user)
    .obj(role)
    .one() %}
{% endif %}



{# //////// #}

{% if role %}

<h3>{{role.title}} <small>({{role.gens[0].title}})</small></h3>

<hr>

{% if annonced %}

{% include "role/roleusers.twig" with {
    role: role,
    user: user
}%}

{% endif %}

{% endif %}


{% endblock %}