
{% block content %}
{% if role %}

    {% set abbo = craft.entries()
    .section('abo')
    .relatedTo({
        targetElement: role,
        field: 'obj'
    })
    .limit(9)
    .all() %}

    {% set admin = role.gens[0] %}


    <p>{{admin.title}}</p>
    <p><small>ADMIN</small></p>
    {% if abbo %}
    {% for a in abbo %}
    <div class="card card-body">
        <p>{{a.title}} <small>{{a.gens[0].title}}</small></p>
        <p>{{a.obj[0].title}}</p>
    </div>
    {% endfor %}
    {% endif %}


    {% include "voyagevoyage/ajaxabbo.twig" with {
        user: user,
        obj: role,
        obj2: "gens"
    } %}
{% endif %}
{% endblock %}