{% block content %}

{% set v = craft.entries()
    .section('vote')
    .obj(obj.id)
    .all() %}

{% set deja = false %}
{% set count = 0 %}
{% for vote in v %}
    {% set count = count + vote.valence %}
    {% if user.id == vote.gens[0].id %}
        {% set deja = true %}
    {% endif %}
{% endfor %}

{% if not deja %}
    <button class="btn btn-outline-danger btn-sm" onclick="addonevote({{ obj.id }})">
        + Vote ({{ count }})
    </button>
{% else %}
    <button class="btn btn-outline-secondary btn-sm">
        {{ count }} vote
    </button>
{% endif %}


{% endblock %}