{% block content %}



{% set v = craft.entries()
    .section('version')
    .id(id)
    .one() %}

<div class="card card-body">
    <h2>{{ v.title }}</h2>
    {# <span><small><p>car {{comp.title}}</p></small></span> #}

    <br>
    <span><small>Dans le cadre de l'Objectif :</small></span>
    <div class="card card-body">
        {% include "debout/competence/listVers.twig" with {
            vers: v.tagg[0].id,
            user: user
        } %}   

        {# <hr> #}
        {# <span><small>Objectif :</small></span>
        <h4>{{comp.version[0].tagg[0].tagg[0].title}}</h4>
        <span><small><p>pour {{comp.version[0].tagg[0].title}}</p></small></span> #}
    </div>
    <br><br>

    
    <small>Etapes : <hr></small>
    {% include "debout/get/selec.twig" with {
        version: v,
        user: user,
    } %}
    <br>
    {% include "debout/competence/formation.twig" with {
        obj: v.id,
        user: user
    } %}
</div>





{% endblock %}