{% block content %}

{# tag, vers, user #}

{# {% set art = craft.entries()
    .section('artvers')
    .vertag(vers.id)
    .limit(9)
    .orderBy('dateCreated DESC')
    .all() %} #}

{# article #}

{% if user %}
    {% set txts = craft.entries()
    .section('texte')
    .gens(user.id)
    .obj(vertag.version[0].id)
    .orderBy('or ASC')
    .all() %}
{% else %}
    {% set txts = craft.entries()
    .section('texte')
    .obj(vertag.version[0].id)
    .orderBy('or ASC')
    .all() %}
{% endif %}



    {% set stop = false %}

    {% for texte in txts %}
        {% set vali = craft.entries()
        .section('valide')
        .obj(texte.id)
        .vertag(vertag.id)
        .one() %}

        {% if vali == null and stop == false %}
            {# <div style="text-align: right; border-right-style: outset; padding:5px;"> #}
                {% include "debout/get/ALL.twig" with {
                    obj:texte,
                    vertag:vertag,
                    opengu:true
                } %}
        </div>
            {# </div> #}
            <br>
            {% set stop = true %}
        {% else %}
            {% if loop.last %}
                <button onclick="addonetxt({{vertag.version[0].id}})" class="btn btn-outline-danger btn-sm" >
                    + Prochaine Etape
                </button>
            
            {% endif %}
        {% endif %}
    {% else %}
        <button onclick="addonetxt({{vertag.version[0].id}})" class="btn btn-outline-danger btn-sm" >
            + Prochaine Etape
        </button>
    {% endfor %}
{# {% endfor %} #}
{# txt #}

{% endblock %}