{% block content %}



{% set vali = craft.entries()
    .section('valide')
    .vertag(vertag.id)
    .orderBy('dateCreated DESC')
    .all() %}


{% if vali %}
    <div style="border-left: solid; padding: 5px;">

        <span><small>Ressources déjà validées :</small></span>
        <br>
        {% for item in vali %}
            {# {% if vers.dateCreated|date('d-M-Y' , 'Europe/Paris') == item.dateCreated|date('d-M-Y', 'Europe/Paris') %} #}
                {# <h6>{{ item.obj[0].title }}</h6> #}
            {% include "debout/get/ALL.twig" with {
                obj:item.obj[0],
                vertag:vertag,
                opengu:false,
                left:true
            } %}
            {# {% endif %} #}
        {% endfor %}
    </div>
{% endif %}





{% endblock %}