{% block content %}


{% if user %}
    {% set role = craft.entries()
    .section('role')
    .relatedTo({
        targetElement: user,
        field: 'gens'
    })
    .limit(9)
    .all() %}
{% endif %}



{% if role %}
{% for r in role %}
    <div class="card card-body">
        <a href="/role/{{r.id}}">{{r.title}}</a>
    </div>
{% endfor %}
{% endif %}





{% endblock %}