{# //////////////////// #}
{# Si l'utilisateur est connecté, récupérer ses informations #}
{% set emailDepuisCookie = craft.app.session.get('loggedInGensId') %}

{# Vérifier si l'utilisateur est connecté #}
{% if emailDepuisCookie is not null %}
    {% set user = craft.entries().id(emailDepuisCookie).one() %}
{# {% else %}
    {% set user = craft.entries().id(257).one() %} #}
{% endif %}
{# ///////////////////// #}



{% block content %}

{% include "debout/gens/menu.twig" %}

<div class="container mt-4">
{% if user %}

    {% include "debout/gens/present.twig" with {
        'user': user
    } %}   

    <small>Agenda:<br><br></small>
     {% include "debout/accueil/listTag.twig" with {
        'user': user
    } %}

    <br><br><br>

    {% include "debout/accueil/createTag.twig" with {
        'user': user
    } %}

    <br>
{% else %}
    <a href="/gens" style="position:fixed;left:50vw;top: 45vh;transform: translateY(-50%);transform: translateX(-50%);"><button class="btn btn-outline-danger" style="font-size: xx-large;"><ahahah>Connectez vous donc ?<ahahah></button></a>
{% endif %}
</div>


{% endblock %}