{% block content %}

{% if vers %}







{% set mestaches = craft.entries()
    .section('artvers')
    .version(vers.id)
    .limit(99)
    .orderBy('dateCreated DESC')
    .all() %}

{# {% set leurtaches = craft.entries()
    .section('artvers')
    .version(vers.id)
    .gens('not ' ~ user.id)
    .limit(99)
    .orderBy('dateCreated DESC')
    .all() %} #}

{% endif %}

        <span><small>Competences Utiles :<br><br></small></span>

<div onclick="addoneart({{ vers.id }})" class="btn btn-outline-danger" >+ Competence</div>
|
{% for item in mestaches %}
    <a href="/c/{{ item.id }}"><div class="btn btn-outline-secondary" >{{item.article[0].title}}</div></a>
{% endfor %}



{% endblock %}



