{% block content %}



{% set vers = craft.entries()
    .section('version')
    .limit(3)
    .tagg(tag.id)
    .gens(user)
    .orderBy('dateCreated DESC')
    .all() %}

{% if vers[0] is null or vers[0].dateCreated|date('d-M-Y' , 'Europe/Paris') != now|date('d-M-Y', 'Europe/Paris') %}
    {% include "debout/accueil/createVers.twig" with {
            tag:tag,
            user:user
        }
    %}
{% endif %}

{% for item in vers %}
    <div class="" >
        <span><small>Etape {% if item.dateCreated|date('d-M-Y' , 'Europe/Paris') == now|date('d-M-Y', 'Europe/Paris') %}d'aujourd'hui{% endif %} du {{ item.dateCreated|date('d M', 'Europe/Paris') }} :</small></span>
        <span><h3 style="justify-self: right;"><b>{{ item.title }}</b></h3></span>



        {# <br> #}
        {% include "debout/get/ALL.twig" with {
            obj:item,
        }   %}

        <div>
            {% include "debout/competence/vali.twig" with {
                vers:item,
                user:user
            } %}
        </div>

        {% if loop.first %}
            <br>
            {% include "debout/competence/micro.twig" with {
                tag:tag,
                vers:item,
                user:user
            } %}
        {% endif %}

        {# <div class="card card-body" style="display:block;">
            {% include "debout/accueil/createTache.twig" with {
                vers:item,
                user:user
            } %}
        </div> #}
    </div>

    {% if not loop.last %}
        <br>
        <br>
        
    {% endif %}
    
{% endfor %}

{% endblock %}