{% block content %}



{% set vers = craft.entries()
    .section('version')
    .limit(9)
    .tagg(tag.id)
    .orderBy('dateCreated DESC')
    .all() %}

{% if vers[0] is null or vers.dt|date('d-M-Y' , 'Europe/Paris') != now|date('d-M-Y', 'Europe/Paris') %}
    {% include "debout/accueil/createVers.twig" with {
            tag:tag,
            user:user
        }
    %}
{% endif %}

{% for item in vers %}
    <div class="card card-body border border-primary" >
        <span><small>version du {{ item.dateCreated|date('d M', 'Europe/Paris') }} :</small></span>
        <span><h3>{{ item.title }}</h3></span>
        <br>


        {% include "debout/get/ALL.twig" with {
            obj:item,
        }   %}
    </div>

    {% if not loop.last %}
        <br>
    {% endif %}
    
{% endfor %}

{% endblock %}