{% block content %}



{% set vertag = craft.entries()
    .section('vertag')
    .limit(3)
    .tagg(tag.tagg[0].id)
    .genstag(tag.id)
    .orderBy('dateCreated DESC')
    .all() %}


{# {% if vers[0] is null or vers[0].dateCreated|date('d-M-Y' , 'Europe/Paris') != now|date('d-M-Y', 'Europe/Paris') %} #}
    {# {% include "debout/accueil/createVers.twig" with {
            tag:tag,
            user:user,
            vers:vers
        }
    %} #}
{# {% endif %} #}

<br>
<br>
{% for item in vertag %}
    {# {% set itemokaou = item %} #}
    {# {% set item = item.version[0] %} #}
    <div style="" >
        <span><h1 style="justify-self: right;"><span style="font-size: medium">({{item.gens[0].title}}) </span><b>{{ item.version[0].title|capitalize  }}</b><a href="/c/{{ item.version[0].id }}"><button class="btn btn-outline-secondary m-1" style="font: small-caption;">VOIR</button>
        </a></h1></span>
        
        {% include "debout/lien/alllien.twig" with {
            'obj': item.version[0],
            'user': user,
            "public":true
        } %}
        
     
        <div style="text-align: right;">
        {% include "debout/get/justValide.twig" with {
                obj:item,
                vertag:item,
                user:user
            } %}
        </div>
        <br>
        {# <br> #}
        {% include "debout/truecompetence/competence.twig" with {
                        'obj': item
                    } %}
                    
        
        <span><small>Travail depuis {% if item.dateCreated|date('d-M-Y' , 'Europe/Paris') == now|date('d-M-Y', 'Europe/Paris') %}d'aujourd'hui{% endif %} le <big>{{ item.dateCreated|date('d M', 'Europe/Paris') }}</big> :</small>
            
        </span>
        



        {# <br> #}
        {# {% include "debout/get/ALL.twig" with {
            obj:item.version[0],

            opengu:false
        }   %} #}
        <div class="card card-body" style="display:block; background-color:#00000017;">
            <div>
                {% include "debout/get/selec.twig" with {
                    version: item.version[0],
                    user: user,
                } %}

                
            </div>

            <div>
                {% include "debout/competence/vali.twig" with {
                    vertag:item,
                } %}
            </div>

            {# {% if loop.first %} #}
                <br>
                {% include "debout/competence/micro.twig" with {
                    genstag:tag,
                    vertag:item,
                    user:user,
                    quali:"trueeeeeeeeee"
                } %}
            {# {% endif %} #}

            {# <div class="card card-body" style="display:block;">
                {% include "debout/accueil/createTache.twig" with {
                    vers:item,
                    user:user
                } %}
            </div> #}
        </div>
    </div>

    {% if not loop.last %}
        <br>
        <br>
        <br>
    {% endif %}
    
{% endfor %}

{% endblock %}