{% block content %} 


<div class="m-5">
    <span class="card m-1 p-2">Agenda de <h3>{{ user.title  }}</h3>

    {# <hr> #}

    {# {% include "debout/get/ALL.twig" with {
        obj:user,
        user:user,
        opengu: true
    } %} #}

    <div style="text-align-last: end;">
        {% include "debout/truecompetence/competence.twig" with {
            obj:user
        } %}
    </div>
    </span>
</div>

{% endblock %}