{% block content %}


{% if ajd %}
{% set liens = craft.entries()
    .section('lien')
    .after(ajd)
    .limit(9)
    .obj(obj.id)
    .orderBy('dateCreated DESC')
    .all() %}
{% else %}
{% set liens = craft.entries()
    .section('lien')
    .limit(9)
    .obj(obj.id)
    .orderBy('dateCreated DESC')
    .all() %}
{% endif %}

<div>
    {% for lien in liens %}
        <a href="{{ lien.desc }}" target="_blank;" onclick="window.location.reload();"><button class="btn btn-outline-secondary">{{lien.title}} (<b>{{lien.gens[0].title}}</b>)</button></a>
    {% endfor %}
</div>

{% endblock %}