{% block content %}

<div>
{% include "debout/get/gettxt.twig" with {
    item:obj
} %}
{% include "debout/get/getimg.twig" with {
    item:obj
} %}


<hr style="border-block-color:rgb(0 20 255);">

<div style="place-self: flex-end;">
<span><div class="btn btn-outline-secondary">{{user.title}}</div>  |  </span>
<button onclick="addoneimg({{obj.id}})" class="btn btn-outline-danger" >
    + Image
</button>
<button onclick="addonetxt({{obj.id}})" class="btn btn-outline-danger" >
    + Text
</button>
</div>
</div>




{% endblock %}