{% block content %}

<div style="place-self: end; text-align:right;">
    {% include "debout/get/gettxt.twig" with {
        item:obj
    } %}
    {% include "debout/get/getimg.twig" with {
        item:obj
    } %}


    {# <hr style="border-block-color:rgb(0 20 255);"> #}
    {% if opengu %}
    <div style="place-self: flex-end;" class="m-2">
        <span>
            <div class="btn btn-outline-secondary">{{user.title}}</div> |  
        </span>

        <button onclick="addoneimg({{obj.id}})" class="btn btn-outline-danger" >
            + Image
        </button>
        <button onclick="addonetxt({{obj.id}})" class="btn btn-outline-danger" >
            + Text
        </button>
        {% include "debout/vote/vote.twig" with {
            obj:obj,
        } %}
    </div>
    {% endif %}
</div>




{% endblock %}