 <div>
        {% set txt = craft.entries()
            .section('article')
            .obj(obj.id)
            .limit(6)
            .orderBy('dateCreated DESC')
            .all() %}


        {% if txt %}
            {# {% set groupedtxt = txt|group(item => item.gens[0]) %} #}

            {# <br> #}
            {% for t in txt %}
                    <span class="">
                        - {{ t.title|capitalize  }}
                    </span>
                    <span style="font-size: small; border-radius:100px;" class="">(<b class="">{{ t.gens[0].title }}</b> le {{ t.dateCreated|date('d M', 'Europe/Paris') }} à {{t.dateCreated|date('G', 'Europe/Paris')}}h)</span>
                    <br>
            {% endfor %}
        {% endif %}
   </div>