 <div>
        {% set txt = craft.entries()
            .section('texte')
            .obj(item.id)
            .orderBy('dateCreated ASC')
            .all() %}



        {% if txt %}
            {% set groupedtxt = txt|group(item => item.gens[0]) %}
            {# <div style="border-right: outset;padding: 5px;border-radius: 15px;"> #}
            <div style="">
            {% for gens, itemt in groupedtxt %}
                {% for t in itemt %}
                    <span class="">
                        {{ t.title }}
                    </span>
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
                <span style="font-size: small; border-radius:100px;" class="">({{ gens }})</span>
            {% endfor %}
            </div>
        {% endif %}
        
   </div>