 <div>
        {% set txt = craft.entries()
            .section('texte')
            .obj(item.id)
            .orderBy('dateCreated ASC')
            .all() %}

        {% if txt %}
            {# <br> #}
            {% for item in txt %}
                <span class="">
                    <b>{{ item.title }}</b>
                    <span style="font-size: small; border-radius:100px;" class="btn btn-outline-secondary">{{ item.gens[0].title }}</span>
                </span>
            {% endfor %}
        {% endif %}
   </div>